<%= comment.content %>
<h6>From <%= comment.user.full_name %></h6>
<ul class="collapsible" data-collapsible="accordion">
	<li>
		<div class="collapsible-header">Replies</div>
		<div class="collapsible-body">
			<%= recursive_comments comment.comments.arrange(:order => :created_at) %>
			<div class="comment-comments">
				<%= form_with model: [comment, Comment.new] do |f| %>
					<%= f.text_field :content, placeholder: 'Comment' %>
					<%= f.hidden_field :parent_id %>
					<%= f.submit 'Reply', class: 'btn' %>
				<% end %>
			</div>
		</div>
	</li>
</ul>

