<h1 align="center"> <%= @user.full_name %></h1>

<div class="profile-img">
	<% if @user.avatar.present? %>
	<%= image_tag @user.avatar.url(:medium), class: 'circle responsive-img' %>
	<% else %>
		<p>No profile image. <%= link_to " Add one!", edit_user_registration_path %></p>
	<% end %>
</div>

<div id="tabs_wrapper">
	<div class="row">
	  <div class="col s12">
	    <ul class="tabs">
	      <li class="tab col s6"><a class="active" href="#my_posts">My Posts</a></li>
	      <li class="tab col s6"><a href="#my_workouts">My Workouts</a></li>
	    </ul>
	  </div>
	  <div id="my_posts" class="col s12">
	  	<% @user.posts.reverse.each do |post| %>
	  		<%= render post, post_class: "profile_post" %>
	  	<% end %>
	  </div>
	  <div id="my_workouts" class="col s12">
	  	<div id="profile_workout_selector_buttons" class="center-align">
				<%= link_to 'Create New Workout', new_workout_path, :class => "btn btn-default btn-lg" %>
			</div>
			<% @user.workout_creations.reverse.each do |workout| %>
				<div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><%= workout.name %></span>
              <p><%= workout.description %></p>
            </div>
            <div class="card-action">
              <%= link_to 'View Workout', workout %>
            </div>
          </div>
        </div>
			<% end %>
	  </div>
	</div>
</div>

<ul id="slide-out" class="side-nav">
  <li><div class="user-view">
    <div class="background">
      <img src="https://unsplash.it/300/200/?random">
    </div>
    <% if @user.avatar? %>
    	<%= image_tag @user.avatar.url(:thumb), class: 'circle' %>
    <% end %>
    <a href="#!name"><span class="white-text name"><%= @user.full_name %></span></a>
    <a href="#!email"><span class="white-text email"><%= @user.email %></span></a>
  </div></li>
  <li><%= link_to "Edit profile", edit_user_registration_path %></li>
  <li><%= link_to 'Delete Profile', user_registration_path, data: {:confirm => "Really? You don't like us anymore?"}, :method => :delete %> <i class=class="material-icons">Pleez dant dalate. Heres a kirby <(^_^<) </i>
  </li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Subheader</a></li>
  <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
<a href="#" style="position: fixed; bottom: 15pt; left: 10pt;" data-activates="slide-out" class="button-collapse"><i class="material-icons">Profile settings</i></a>
