
<br>
<br>
<%= post.content %> <br><br> by <%= post.user.full_name %>
<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header">Comments</div>
    <div class="collapsible-body">
      <% post.comments.each do |comment| %>
        <%= render comment %>
      <% end %>
      <%= form_with model: [post, Comment.new] do |f| %>
        <%= f.text_field :content, placeholder: 'Post content goes here' %>
        <br>
        <%= f.submit 'Post', class: 'btn' %>
      <% end %> 
    </div>
  </li>
</ul>

